.AddMessage {
  box-sizing: border-box;
  background-color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confirmBtn {
  text-align: center;
  margin-top: 10px;
  color: #ffffff;
  padding: 5px 20px;
  background-color: #000000;
}

.closeBtn {
  padding: 5px;
  position: absolute;
  top: 65px;
  right: 20px;
  background-color: #ffffff;
  color: #000000;
}

.MoreBtnItem {
  padding: 5px 50px;
  border: 1px solid #000000;
  color: #000000;
  background-color: #ffffff;
  margin-top: 10px;
}