.page{
    margin-top:100px;
    border:1px solid #797474
}
.x{
    float: right;
}
.del{
    /* border: 1px solid #000000 */
    margin-top: 10px;
}
.top{
    display: flex;
    margin-top: 20px;
}
.left{
    float: left;
    border:1px solid #797474
}
.right{
    display: flex;
    float: right;
}
.bottom{
    float: right;
}
.tree{
    border:1px solid #797474
}
.sear{
    position: relative
}
.bnt{
    position: absolute;
    /* bottom: 0 */
}