.icon{
    position: absolute;
    top: 19%;
    left: 90%;
    color :red;

}
.box{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 600px;
    height: 10px;
    background-color: darkgray
}
.bnt{
    position: absolute;
    top:30%;
    left: 40%;
}